h1 {text-align:center;font-size:60px;}
a {text-decoration:none;color:#000000}
td {text-align:center}
td {padding:8px;}
details {
	border-style:solid;
	padding:5px;
	border-radius:10px;
	margin-bottom:5px;
	margin-left:20px;
	margin-right:20px;
}
